.dark {
    width:60px;
    height:40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .dark:after {
    content: "";
    width:30px;
    height: 30px;
    position: absolute;
    top:5px;
    left:5px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  .ddd {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .ddd:checked + label {
    background: #242424;
  }
  .ddd:checked + label:after {
    left:60px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.2s
  }
  

  .background {
    width:100vw;
    height: 100vh;
    background: #fff;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
  }

  .ddd:checked + label + .background {
    background:#242424;
  }